/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&family=Kanit:wght@500&display=swap');
/* Code de la page */
*{
    padding: 0;
    margin: 0;
}
/* La partie HEADER */
header{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(80, 133, 80);
}
.header__div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.header__div__img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}
.header__div__h1{
    font-size: 2.5em;
}
.header__nav{
    background-color: rgb(57, 104, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    padding-left: 25px;
}
.header__nav__a{
    text-decoration: none;
    padding-left: 45px;
    padding-right: 45px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}
.header__nav__a:hover{
    border-bottom: black solid 3px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

